* {
    box-sizing: border-box;
}
.header {
    display: flex;
    padding: 1em;
    margin: 1em;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: bisque;
    background-color: rgb(232, 138, 24);
}
.header h1 {
    margin: 0;
    padding: 0;
}
